name: Linter

on: [push]

jobs:

  black:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          options: "--check --verbose --line-length 128"

  isort:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install isort
      - name: Check import order
        run: isort . -c 

  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: 'pip'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements-gui.txt
            pip install PyYAML types-PyYAML
            pip install mypy
      - name: Lint with mypy
        run: mypy . -v
